
.dropzone {
    text-align: center;
    padding: 20px;
    margin-top: 10vh;
    border: 2px #39a068 dashed;
    width: 60vh;
    height: 30vh;
    cursor: pointer;
  }
.cancel{
  margin-top: 3vh;
  
}